#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.paragraph{
  max-width: 800px;
  font-size: 12;
}


@keyframes floatAnimation{
 0%, 100% {
  transform: translateY(0px);
 }
 50% {
  transform: translateY(-50px);
 }
}

h1{
  animation: floatAnimation 3s ease-in-out infinite;
}
